.documents-page {
    background-color: #F3F9FB;
}

a {
    text-decoration: none;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    color: #113F67;
    margin: 0;
    padding: 30px;
}

.single {
    padding: 10px;
    margin: 20px 80px;
    background: #CCF2F4;
    border-radius: 20px;
    color: #113F67;
    border: 1px solid #113F67;
}

.single>a {
    margin: 50px;
}

.summary-details {
    margin: 10px 50px;
}